
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Vindictus is an action-packed, Free-to-Play MMORPG. Enter a world beyond and experience gratifying real-time combat, epic monsters &amp;amp; glorious visuals.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="~/wwwroot/images/logo.png">

    <!-- Title
    ================== -->
    <title>SNVG</title>


    <!-- Css Attached Files
    ========================= -->
    <link href="~/wwwroot/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/wwwroot/css/font-awesome.css" rel="stylesheet" type="text/css">

    Style Css
    ==========================
    <link rel="stylesheet" href="~/wwwroot/css/jquery-select7.css">
    <link href="~/wwwroot/css/style.css" rel="stylesheet" type="text/css">
    <link href="css/animate.css" rel="stylesheet" type="text/css">
    @*<link href="~/wwwroot/css/" rel="stylesheet" type="text/css">*@

    <link href="~/wwwroot/css/theme.css" rel="stylesheet" type="text/css">
    <link href="~/wwwroot/css/responsive.css" rel="stylesheet" type="text/css">

    <!-- Meta Code
    ============================ -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>
<body>
    <div class="master-wrapper-page">
        <!-- Header Starts Here
        ======================= -->
        <header>
            <div class="header-top header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <!-- Contact Support Form -->
                            <div class="dropdown sprt">
                                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                    CONTACT SUPPORT
                                    <span class="fa fa-angle-down"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <form role="form">
                                        <div class="form-group">
                                            <input type="text" autocomplete="off" class="form-control" name="" placeholder="Contact Name">
                                            <input type="email" autocomplete="off" class="form-control" name="" placeholder="Email Address">
                                            <input type="text" autocomplete="off" class="form-control" name="" placeholder="Contact Phone (optional)">
                                            <select class="form-control" id="sel1">
                                                <option>Select Option</option>
                                                <option>any</option>
                                                <option>first</option>
                                                <option>last</option>
                                            </select>
                                            <textarea class="form-control" rows="5" id="comment" placeholder="Message"></textarea>
                                            <input type="submit" autocomplete="off" class="form-control sbmt" name="" value="Submit">
                                        </div>
                                    </form>
                                </ul>
                            </div>
                            <!-- Contact Support Form -->
                            <p>FREE SHIPPING – FREE RETURNS</p>
                            <ul class="sign-nav">
                                @*<li>@Html.ActionLink("Logout", "#", "Authorize")</li>*@
                                <li>Logout</li>
                                <li>

                                    <!-- Shipping To Form -->
                                    <div class="currency-selector">
                                        <span id="flag"><img src="~/wwwroot/images/flag-1.jpg" alt="British"></span>
                                        <select id="customerCurrency" class="select7 select7_dropdown" name="customerCurrency" onchange="setLocation(this.value);">
                                            <option value="/changecurrency/1?returnurl=%2f">US Dollar</option>
                                            <option selected="selected" value="/changecurrency/3?returnurl=%2f">British Pound</option>
                                            <option value="/changecurrency/6?returnurl=%2f">Euro</option>
                                        </select>
                                    </div>
                                    <!-- Shipping To Form -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-bottom header-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <ul class="navigation">
                                <li class="men">
                                    <!-- Men Menu -->
                                    <!--<div class="dropdown men-menu">
                                        <a>Men <i class="fa fa-angle-down"></i></a>
                                        <ul class="main-menu-drop-down">
                                            <div class="main-menu-inner">
                                                <div class="top-slid"></div>
                                                <div class="col-md-8 col-sm-8 col-lg-8 left-menu-pnl">
                                                    <div class="col-md-4 col-sm-4 col-lg-4 pd-off">
                                                        <h2>Shoes</h2>
                                                        <ul id="men-menu-navigation">
                                                            <li><a href="#">All Shoes</a></li>
                                                            <li><a href="#">Boots & Booties</a></li>
                                                            <li><a href="#">Dress Shoes</a></li>
                                                            <li><a href="#">Moccasins & Loafers</a></li>
                                                            <li><a href="#">Oxfords & Derbys</a></li>
                                                            <li><a href="#">Espadrilles</a></li>
                                                            <li><a href="#">Sneakers</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4 col-lg-4 pd-off">
                                                        <h2>Accessories </h2>
                                                        <ul id="men-menu-navigation">
                                                            <li><a href="#">Backpacks, Briefcases, & Bags</a></li>
                                                            <li><a href="#">Belts</a></li>
                                                            <li><a href="#">Wallets</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-lg-4 banner-right" style="background-image: url(/wwwroot/images/banner-1.jpg);">
                                                    <div class="banner-txt">
                                                        <h2>2018</h2>
                                                        <p>Alto di moda basso prezzo</p>
                                                        <h2>SALDI</h2>
                                                        <p>Fino al 40% di sconto</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </ul>-->
                                    <!-- Men Menu -->
                                </li>
                                <li><a href="#">Our Story</a></li>
                            </ul>
                            <div class="logo-container">
                                <a href="#"><img src="~/wwwroot/images/logo.png" style="width:70px"></a>
                            </div>
                            <ul class="icon-nav">
                                <li>
                                </li>
                                <li>
                                </li>
                                <li>
                                </li>
                                <li>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        <!-- Header Ends Here
        ======================= -->


        <div class="master-wrapper-content">
            <div class="master-column-wrapper">
                <div class="center-1">

                    <!-- Inner Page Starts Here
                    =========================== -->
                    <div id="profile" class="inner-page">
                        <!-- Bredcrums -->
                        <div class="bred-crums">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                        <ul class="bred-crums-nav">
                                            <li class="profile"><a href="javascript:void(0);">Profile</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Bredcrums -->
                        <div class="inner-page-content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                        <h1>Profile</h1>
                                        <h6>Welcome!</h6>
                                        <h2>@ViewBag.account.Name</h2>
                                    </div>
                                    <div class="full basic-pymnt-pnl">
                                        <div class="col-ms-6 col-sm-6 col-lg-6 basic-info">
                                            <h5>Basic Information</h5>
                                            <ul>
                                                <li>First Name<span>@ViewBag.account.Name</span></li>
                                                <li>Last Name<span>@ViewBag.account.LastName</span></li>
                                                <li>Email<span>@ViewBag.account.Email</span></li>
                                                <li>Address<span>@ViewBag.account.Address</span></li>
                                                <li>Post Code<span>@ViewBag.account.Postcode</span></li>
                                            </ul>
                                        </div>
                                        <div class="col-ms-6 col-sm-6 col-lg-6 payment-mthd">
                                            <h5>Payment mathod</h5>
                                            <ul>
                                                <li>Cash On Delivery</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Inner Page Ends Here
                    ========================= -->
                </div>
            </div>
        </div>


        <!-- Footer Starts Here
        ======================= -->
        <footer class="footer">
            <div class="footer-btm-pnl">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <p>&copy; Copyright,  2017-2022, SNVG. All Rights Reserved.</p>
                            <ul class="ftr-social-nav">
                                <li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                            <img src="~/wwwroot/images/card.png">
                        </div>
                    </div>
                </div>
                <!-- Footer Bottom -->
            </div>
        </footer>

        <!-- Footer Ends Here
        ====================== -->
    </div>
    <!-- Java Script Portion
    ================================== -->
    <!-- jQuery -->
    <script src="~/wwwroot/js/jquery.js"></script>

    <!-- Bootstrap -->
    <script src="~/wwwroot/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/wwwroot/js/effects.js"></script>

    <!-- Carousile Load Js -->
    <script>
        $('.carousel').carousel({
            interval: 50000000 //changes the speed
        })
    </script>
    <script type="text/javascript">

        $(function () {

            $('#myTab a:first').tab('show')

        })

    </script>
    <script type="text/javascript">
        jQuery('<div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>').insertAfter('.quantity input');
        jQuery('.quantity').each(function () {
            var spinner = jQuery(this),
                input = spinner.find('input[type="number"]'),
                btnUp = spinner.find('.quantity-up'),
                btnDown = spinner.find('.quantity-down'),
                min = input.attr('min'),
                max = input.attr('max');

            btnUp.click(function () {
                var oldValue = parseFloat(input.val());
                if (oldValue >= max) {
                    var newVal = oldValue;
                } else {
                    var newVal = oldValue + 1;
                }
                spinner.find("input").val(newVal);
                spinner.find("input").trigger("change");
            });

            btnDown.click(function () {
                var oldValue = parseFloat(input.val());
                if (oldValue <= min) {
                    var newVal = oldValue;
                } else {
                    var newVal = oldValue - 1;
                }
                spinner.find("input").val(newVal);
                spinner.find("input").trigger("change");
            });

        });
    </script>
    <script>
        function example_select7_template_option(option) {
            r = "<i>" + option.title + "</i>"
            if (option.someOptionText) r += " <b>" + option.someOptionText + "</b>"
            return r
        }
        function example_select7_template_optgroup(optgroup) {
            r = "<i>" + optgroup.title + "</i>"
            if (optgroup.someOptgroupText) r += " <b>" + optgroup.someOptgroupText + "</b>"
            return r
        }
        function example_select7_template_current(option) {
            r = "<i>" + option.title + "</i>"
            if (option.someCurrentText) r += " <b>" + option.someCurrentText + "</b>"
            return r
        }
    </script>

    <script src="js/jquery-select7.js"></script>
    <script>
        $(".select7").select7()
    </script>
</body>
</html>