@model SNVG.Models.Account

@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_sharedLayout.cshtml";
}

<script type="text/javascript">
        $(document).ready(function () {
            var yourPrompt = '@ViewData["PromptMessage"]';
            if (yourPrompt == "Invalid") {
                alert("Invalid User Here");
            }
        });
</script>
<div class="master-wrapper-content">
    <div class="master-column-wrapper">
        <div class="center-1">
            <style type="text/css">
                .login-text-cntnr {
                    display: inline-block;
                    width: 100%;
                    position: relative;
                    padding: 100px 0;
                }

                #Login-page {
                    display: inline-block;
                    width: 100%;
                    position: relative;
                    text-align: center;
                }

                    #Login-page::before {
                        position: absolute;
                        bottom: -15px;
                        width: 100%;
                        left: 0;
                        height: 15px;
                        content: "";
                        background-image: url(images/code.jpg/);
                    }

                .login-text-cntnr {
                    display: inline-block;
                    position: relative;
                    margin: 0 auto;
                    max-width: 415px;
                    width: 100%;
                }

                    .login-text-cntnr input {
                        margin-bottom: 15px;
                        border-radius: 0;
                        border: 2px solid #000;
                    }

                    .login-text-cntnr h2 {
                        top: -100px;
                        font-size: 40px;
                        color: #333333;
                        margin: 0;
                        text-transform: uppercase;
                        margin-bottom: 40px;
                    }

                .input-container {
                    display: flex;
                    width: 100%;
                }

                /* Style the form icons */
                .icon {
                    position: center;
                }
                /* The message box is shown when the user clicks on the password field */
                #message {
                    display: none;
                    position: relative;
                    margin-top: 10px;
                }

                    #message p {
                        font-size: 14px;
                    }

                /* Add a green text color and a checkmark when the requirements are right */
                .valid {
                    color: green !important;
                }

                    .valid:before {
                        position: relative;
                    }

                /* Add a red text color and an "x" icon when the requirements are wrong */
                .invalid {
                    color: red !important;
                }

                    .invalid:before {
                        position: relative;
                    }
            </style>
            <div id="Login-page" class="inner-page">

                <div class="inner-page-content">
                    <div class="container">
                        <div class="row">
                            <div class="login-text-cntnr">
                                <h2>Sign In</h2>
                                <form method="post" action="login">
                                    @Html.TextBox("email", "", new { @class = "form-control", placeholder = "Email e.g(john@example.com)", autocomplete = "off", requird= "Required"})
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                                    @Html.TextBox("password", "", new { @class = "form-control", type = "password", placeholder = "Password....", autocomplete = "off", id = "myInput" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    <input type="checkbox" onclick="myFunction()">Show Password
                                    <div class="dble-cntnr">
                                        <a href="javascript:void(0);">Remember Me</a>
                                        <a href="javascript:void(0);">Forgot Password</a>
                                    </div>
                                    <input autocomplete="off" class="form-control sbmt" name="" value="SIGN IN" type="submit">
                                </form>
                                <div id="message">
                                    <h3>Password must contain the following:</h3>
                                    <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                                    <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                                    <p id="number" class="invalid">A <b>number</b></p>
                                    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
<script>
    var myInput = document.getElementById("myInput");
    var letter = document.getElementById("letter");
    var capital = document.getElementById("capital");
    var number = document.getElementById("number");
    var length = document.getElementById("length");

    // When the user clicks on the password field, show the message box
    myInput.onfocus = function () {
        document.getElementById("message").style.display = "block";
    }

    // When the user clicks outside of the password field, hide the message box
    myInput.onblur = function () {
        document.getElementById("message").style.display = "none";
    }

    // When the user starts to type something inside the password field
    myInput.onkeyup = function () {
        // Validate lowercase letters
        var lowerCaseLetters = /[a-z]/g;
        if (myInput.value.match(lowerCaseLetters)) {
            letter.classList.remove("invalid");
            letter.classList.add("valid");
        } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
        }

        // Validate capital letters
        var upperCaseLetters = /[A-Z]/g;
        if (myInput.value.match(upperCaseLetters)) {
            capital.classList.remove("invalid");
            capital.classList.add("valid");
        } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
        }

        // Validate numbers
        var numbers = /[0-9]/g;
        if (myInput.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");
        } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
        }

        // Validate length
        if (myInput.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
        } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
        }
    }

</script>